/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap'); */

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Custom color variables mapped to CSS custom properties */
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-light: var(--color-primary-light);

  --color-secondary: var(--color-secondary);
  --color-secondary-hover: var(--color-secondary-hover);

  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);

  --color-border: var(--color-border);

  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);

  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --color-info: #3B82F6;

  --color-background: var(--color-bg-primary);
}

/* Root theme variables */
:root {
  --color-primary: #233F2E;
  --color-primary-hover: #1E352A;
  --color-primary-light: #F0F9FF;

  --color-secondary: #28282C;
  --color-secondary-hover: #242428;

  --color-accent: #AFE67F;
  --color-accent-hover: #9ED470;

  --color-text-primary: #28282C;
  --color-text-secondary: #6F6B66;
  --color-text-muted: #9CA3AF;

  --color-border: #C4C0BC;

  --color-bg-primary: #F0EEE9;
  --color-bg-secondary: #FFFDF7;

}

.dark {
  --color-primary: #233F2E;
  --color-primary-hover: #1E352A;
  --color-primary-light: #F0F9FF;

  --color-secondary: #260E04;
  --color-secondary-hover: #1B0800;

  --color-accent: #AFE67F;
  --color-accent-hover: #9ED470;

  --color-text-primary: #EDE7F6;
  --color-text-secondary: #D7CCC8;
  --color-text-muted: #9E9E9E;

  --color-border: #6B7280;

  --color-bg-primary: #121212;
  --color-bg-secondary: #1E1E1E;
}

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
    @apply border-transparent;
    
    /* Uncomment if needed:
    outline-ring/50;
    */
  }

  ::selection {
    @apply !bg-accent !text-primary;
  }
  ::placeholder {
    @apply !text-text-secondary;
  }
  
  body {
    @apply bg-background;
    /* color: var(--color-text-primary); */
  }

  .stdropdown-tools {
    @apply hidden;
  }

  .stdropdown-menu {
    max-height: 140px !important;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  textarea {
    @apply text-text-primary rounded-sm !border !border-border dark:!border-border/25 focus:!border-primary focus:!ring-0 focus:!ring-primary px-[16px] py-[10px] ;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-text-primary);
  }

  [data-active="true"] {
    @apply !ring-2 ring-primary;
  }
}

.leaflet-control-container {
  @apply hidden;
}
